[core]
    pager = less -NRJ
[user]
	name = Emil Tullstedt
	email = sakjur@gmail.com 
[push]
    default = simple
[merge]
    conflictstyle = diff3
[color]
    ui = true
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red
    new = green
[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    lg = log --oneline --graph --decorate

